.numbersystem h4{
    text-align: left;
    margin: 0px 0px 0px 20px;;
    /* border-bottom: 2px solid black; */
}
.numbersystem h4 p{
    display: inline;
    padding: 0px 8px 0px 3px;
    border-bottom: 2px solid black;
}
.numbersystem .tips{
    margin: 0px 20px 0px 0px;
}
.numbersystem .tips .def{
    text-align: left;
    margin: 10px 0px 0px 40px;
}
.numbersystem .tips .heading{
    text-align: center;
}