.right-bar {
    float: right;
    margin: 2px;
    background-color: green;
    width: 20%;
    /* display: inline; */
}
.right-bar h6 a{
    text-decoration: none;
    color: white;
    padding: 2px 0px;
}